# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
USE_HTTPS=False

# Database (PostgreSQL URL)
DATABASE_URL=postgres://user:password@hostname:port/dbname

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email (Gmail)
EMAIL_HOST_USER=courtmaxpm@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
